<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pet.hospital.mapper.SysConfigMapper">

    <select id="listConfig" resultType="com.pet.hospital.model.entity.SysConfig">
        SELECT * FROM sys_config ORDER BY id DESC
    </select>

    <select id="getConfigByKey" resultType="com.pet.hospital.model.entity.SysConfig">
        SELECT * FROM sys_config WHERE config_key = #{configKey}
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO sys_config (config_name, config_key, config_value, config_type, remark)
        VALUES (#{configName}, #{configKey}, #{configValue}, #{configType}, #{remark})
    </insert>

    <update id="update">
        UPDATE sys_config
        <set>
            <if test="configName != null and configName != ''">config_name = #{configName},</if>
            <if test="configKey != null and configKey != ''">config_key = #{configKey},</if>
            <if test="configValue != null">config_value = #{configValue},</if>
            <if test="configType != null">config_type = #{configType},</if>
            <if test="remark != null">remark = #{remark},</if>
        </set>
        WHERE id = #{id}
    </update>

    <delete id="deleteById">
        DELETE FROM sys_config WHERE id = #{id}
    </delete>

</mapper>
