<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pet.hospital.mapper.SysUserMapper">

    <select id="findByUsername" resultType="com.pet.hospital.model.entity.SysUser">
        SELECT * FROM sys_user WHERE username = #{username} AND status = 1
    </select>

    <select id="findByPhone" resultType="com.pet.hospital.model.entity.SysUser">
        SELECT * FROM sys_user WHERE phone = #{phone} AND status = 1
    </select>

    <update id="updatePassword">
        UPDATE sys_user SET password = #{password} WHERE phone = #{phone}
    </update>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO sys_user (username, password, phone, real_name)
        VALUES (#{username}, #{password}, #{phone}, #{realName})
    </insert>
    
    <select id="findById" resultType="com.pet.hospital.model.entity.SysUser">
        SELECT * FROM sys_user WHERE id = #{id}
    </select>

    <select id="listUsers" resultType="com.pet.hospital.model.entity.SysUser">
        SELECT * FROM sys_user
        <where>
            <if test="username != null and username != ''">
                AND username LIKE CONCAT('%', #{username}, '%')
            </if>
        </where>
        ORDER BY create_time DESC
    </select>

    <update id="update">
        UPDATE sys_user
        <set>
            <if test="username != null and username != ''">username = #{username},</if>
            <if test="password != null and password != ''">password = #{password},</if>
            <if test="phone != null and phone != ''">phone = #{phone},</if>
            <if test="realName != null and realName != ''">real_name = #{realName},</if>
            <if test="status != null">status = #{status},</if>
        </set>
        WHERE id = #{id}
    </update>

    <delete id="deleteById">
        DELETE FROM sys_user WHERE id = #{id}
    </delete>
</mapper>
